DIV {border: 2px solid #000;}

#Header {height: 100px; width: 800px; margin-right: auto; margin-left: auto;background: url(images/banner.png) no-repeat; color:red;}

#MainContent {width: 800px; margin-right: auto; margin-left: auto;}