DIV {border: 1px solid #000;}

#Header {
	height: 100px; 
	width: 800px; 
	margin-right: auto; 
	margin-left: auto;
	background: url(images/banner.png) no-repeat; 
	color:red;
	}

#MainContent {
	width: 800px; 
	margin-right: auto; 
	margin-left: auto;
	}

#Footer {
	width: 802px; 
	margin-left: auto; 
	margin-right: auto; 
	height: 50px; 
	border: 1px solid #fff; 
	}

#FooterLeft {
	float: left; 
	width: 399px; /*49.5%**/
	height: 50px; 
	border: 1px solid green; 
}

#FooterRight {
	float: right; 
	width: 399px; /*49.5%**/
	height: 50px; 
	border: 1px solid red; 
}

/*button CSS below*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: montserrat, sans-serif;
}

.button-container {
	display: flex;
	width: 100%;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}

.button {
	appearance: none;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	
	padding: 20px 40px;
	border-radius: 8px;
	color: #212121;
	font-size: 28px;
	font-weight:400;
	margin: 0 15px;
	transition: 0.4s;
}

.button-1 {
	color: #FFCE00;
	border: 3px solid #FFCE00;
}

.button-1:hover {
	color: #FFF;
	background-color: #FFCE00;
}

.button-2 {
	color: #FE4880;
	border: 3px solid #FE4880;
	background-image: linear-gradient(to right, transparent 50%, #FE4880 50%);
	background-size: 210%;
	background-position: 0%;
}

.button-2:hover {
	color: #FFF;
	background-position: 99%;
}

.button-3 {
	color: #68DEA0;
	border: 3px solid #68DEA0;
	background-image: linear-gradient(to top, #68DEA0 50%, transparent 50%);
	background-size: 100% 200%;
	background-position: 0% 0%;
}

.button-3:hover {
	color: #FFF;
	background-position: 0% 100%;
}